<div class="form-group text-center cont" ng-init="getFunctionalRequirement()">
  <div ng-show="!isSpectator">
    <div class="page-header">
      <h3>New functional Requirement
        <br/>
        <small>Insert the functional requirements for your project here</small>
      </h3>
    </div>
    <form name="form.form" novalidate>
      <div class="form-group">
        <h5>Requirement name:</h5>
        <input type="text" required ng-model="requirement.name" name="name" ng-minlength="3" ng-maxlength="30"></input>
        <br/>
        <div class="help-block" ng-messages="form.form.name.$error" ng-if="form.form.name.$touched">
          <p ng-message="minlength" class="error">Name is too short.</p>
          <p ng-message="maxlength" class="error">Name is too long.</p>
          <p ng-message="required" class="error">Name is required.</p>
        </div>
        <h5>Requirement content:</h5>
        <textarea rows="5" cols="100" type="text" ng-model="requirement.content" class="form-control" name="content" ng-minlength="5" class="form-control" required></textarea>
        <div class="help-block" ng-messages="form.form.content.$error" ng-if="form.form.content.$touched">
          <p ng-message="minlength" class="error">Content is too short.</p>
          <p ng-message="required" class="error">Content is required.</p>
        </div>
      </div>

      <button class="btn btn-default" ng-show="!isSpectator" ng-Disabled="form.form.$invalid" ng-click="insertFunctionalRequirement(requirement)">Submit</button>
    </form>
  </div>

  <div class="page-header">
    <h2>Current requirements:</h2>
  </div>

  <div class="wrapit">
    <div class="splice" ng-repeat="func in functional">
      <h5>{{ func.name }}</h5>
      <button class="splicebut" ng-click="openModalfunc(func, $index)">Details</button>
    </div>
  </div>

  <div class="modal fade modaldown" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"> {{ funcModal.name }}</h4>
        </div>
        <div class="modal-body">
          <label>content</label>
          <br/> {{ funcModal.content }}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" ng-show="showDeleteButton && isAdmin" class="btn btn-primary" ng-click="deleteFunctionalRequirement(funcModal.index, funcModal)" data-dismiss="modal">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->







  <!--
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>content</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="func in functional">
          <td>{{ func.name }} </td>
          <td>{{ func.content }} </td>
          <td ng-show="showDeleteButton && !isSpectator">
            <button class="btn btn-default" ng-click="deleteFunctionalRequirement($index, func)">Delete</button>
          </td>
      </tbody>
    </table>

    --->

</div>
