<div class="form-group text-center cont">
  <div class="page-header">
  <h3>New Need to have<br>
     <small>create a new need to have for your projects.
  <form name="form" novalidate>
    <div class="form-group">
      name:
      <input type="text"></input><br/>
      content:</small></h3>

      <textarea rows="5" cols="100" type="text" class="form-control" required></textarea>
    </div> </div>
    <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="">Add N2H</button>
  </form>
</div>
