<div class="form-group text-center cont" ng-init="getProjectUse()">
  <div class="page-header">
    <h3>Project Use
      <br>
      <small>This description shows the use of the project.</small>
    </h3>
  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <textarea rows="25" cols="100" ng-model="projectUse.content" type="text" class="form-control" required></textarea>
    </div>
    <div ng-show="!isSpectator">
      <button class="btn btn-default" ng-show="!isSpectator" ng-Disabled="form.$invalid" ng-click="insertProjectUse(projectUse)">Submit</button>
      <button class="btn btn-default" ng-show="showDeleteButton && isAdmin" ng-click="deleteProjectUse()">Delete</button>
    </div>
  </form>
</div>
