<div class="form-group text-center cont">
<div class="page-header">
<h3>New non-functional requirement <br>
   <small>Create a new non-functional requirement for your project.
</div>
  <form name="form" novalidate>

    <div class="form-group">
      Requirement name:
      <input type="text"></input><br/>
      Requirement content:
      <textarea rows="5" cols="100" type="text" class="form-control" required></textarea>
    </div></small></h3>
    <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="">Add requirement</button>
  </form>
</div>
