<div class="form-group text-center cont" ng-init="getActualState()">
  <div class="page-header">
  <h3>Actual State<br>
     <small>This description shows the actual state your project is in.</small></h3>
</div>
  <form name="form" novalidate>
    <div class="form-group">
      <textarea rows="25" cols="100" ng-model="projectActualState.content" type="text" class="form-control" required></textarea>
    </div>
    <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="insertActualState(projectActualState)">Submit</button>
    <button class="btn btn-default" ng-show="showDeleteButton" ng-click="deleteActualState()">Delete</button>
  </form>
</div>
