<div class="gap container" ng-controller="CreateProjectCtrl">
  <div class="stepwizard">
    <div class="stepwizard-row">
      <div class="stepwizard-step">
        <button ng-model="openedViewTab" ng-class="(openedViewTab==1) ? 'btn btn-primary btn-circle' : 'btn btn-default btn-circle'">1</button>
        <p>General information</p>
      </div>
      <div class="stepwizard-step">
        <button ng-model="openedViewTab" ng-class="(openedViewTab==2) ? 'btn btn-primary btn-circle' : 'btn btn-default btn-circle'">2</button>
        <p>Invitation</p>
      </div>
      <div class="stepwizard-step">
        <button ng-class="(openedViewTab==3) ? 'btn btn-primary btn-circle' : 'btn btn-default btn-circle'">3</button>
        <p>Confirm inputs</p>
      </div>
    </div>
  </div>
  <div ui-view="information" ng-show="viewsTabViewFnc(1)"></div>
  <div ui-view="invitation" ng-show="viewsTabViewFnc(2)"></div>
  <div ui-view="confirmInformation" ng-show="viewsTabViewFnc(3)"></div>
</div>
