<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PDMSys</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li ><a ui-sref="home">Choose your project</a></li>
          <li ><a ui-sref="home.createProject">Create a project</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="" class="fa fa-cog fa-size dropdown-toggle" role="button" data-toggle="dropdown"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#profile">
                  <span class="glyphicon glyphicon-user"></span> Userprofile</a>
              </li>
              <li>
                <a href="#settings">
                  <i class="fa fa-cog"></i> Account settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <i class="fa fa-sign-out"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
  <div class="gap" ui-view>
    <ul class="cbp-ig-grid">
      <li ng-repeat="project in projects">
        <a ng-href="#projects/{{ project.id }}">
          <span class="glyphicon glyphicon-folder-open glyphicon-size"></span>
          <h3 class="cbp-ig-title">{{ project.name }}</h3>
          <div class="cbp-ig-info">
            {{ project.description }}
            <hr> Completion of the documentation:
            <strong> {{ project.completion }} % </strong>.
          </div>
        </a>
      </li>
  </div>
  </div>
</div>
