<div class="container" ng-controller="LoginCtrl">

  <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">Login</div>
      </div>

      <div class="panel-body">

        <form name="loginForm" class="form-horizontal" role="form" novalidate>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input ng-model="login.username" name="username" type="username" class="form-control" maxlength="50" placeholder="E-Mail" value="" required />
          </div>

          <!--username validation  -->
          <div name="usernameValidation">
            <div ng-show="form.$submitted || form.username.$touched">
              <div class="alert alert-danger fade in" ng-show="form.username.$error.required">
                An e-mail is required.
              </div>
            </div>

            <div class="alert alert-danger fade in" ng-show="form.username.$error.username && form.username.$touched">
              Please fill in a valid e-mail.
            </div>
          </div>
          <!--username validation end-->

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input ng-model="login.password" type="password" ng-pattern="passwordRegEx" maxlength="15" class="form-control" name="password" placeholder="Password" required />
          </div>

          <!--Password validation -->
          <div name="passwordValidation">
            <div ng-show="form.$submitted || form.password.$touched">
              <div class="alert alert-danger fade in" ng-show="form.password.$error.required">
                A password is required.
              </div>
            </div>

            <div ng-show="!form.password.$error.required">
              <div class="alert alert-danger fade in" ng-show="form.password.$error.pattern">
                Password is not valid.
              </div>
            </div>
          </div>
          <!--Password validation end-->

          <div class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <button type="submit" ng-Disabled="form.$invalid" ng-click="loginUser()" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
            </div>
          </div>

        </form>

        <div class="errorMessage"><strong>{{ loginStatus }}</strong></div>


      </div>
    </div>
  </div>
</div>
