<div class="container" ng-controller="NavbarHomeCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PDMSys</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li ng-class="{active: $state.is('projectHome')}"><a ui-sref="projectHome">Home</a></li>
          <li ng-class="{active: $state.is('preliminaryStudy')}"><a ui-sref="preliminaryStudy({projectId:projectId})">Preliminary study</a></li>
          <li ng-class="{active: $state.is('projectHome.requirementSpecification')}"><a ui-sref="home">Requirement specification</a></li>
          <li ng-class="{active: $state.is('projectHome.functionalSpecification')}"><a ui-sref="home">Functional specifications</a></li>
          <li ng-class="{active: $state.is('projectHome.finalization')}"><a ui-sref="home">Finalization</a></li>
          <li><a ui-sref="home">Miscellaneous items</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="" class="fa fa-cog fa-size dropdown-toggle" role="button" data-toggle="dropdown"></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#profile">
                  <span class="glyphicon glyphicon-user"></span> Userprofile</a>
              </li>
              <li>
                <a href="#settings">
                  <i class="fa fa-cog"></i> Account settings</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <i class="fa fa-sign-out"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
</div>
