<div class="row navbargap">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand">Preliminary study</a>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Project description<span class="pull-right glyphicon glyphicon-menu-right"></span></a></li>
            <li><a href="#">Risks<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Milestones<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Market analysis<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Effort estimation<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Time and costs<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Project structure plan<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
            <li><a href="#">Use case points<span class="pull-right glyphicon glyphicon-menu-right"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    cöntent
    <div ui-view="view"></div>
  </div>
</div>
