<div class="row gapForNavbar">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a ui-sref="requirementSpecification.projectIntroduction">
                Project introduction
                <span class="pull-right glyphicon glyphicon-menu-right"></span>
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.needs">
                Need to haves
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.nice">
                Nice to haves
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.result">
                Result
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.productUse">
                Product use
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.actualState">
                Actual state
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.targetState">
                Taget state
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.productData">
                Product data
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.nonfunctional">
                Nonfunctional requirements
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
            <li>
              <a ui-sref="requirementSpecification.quality">
                Quality
                <span class="pull-right glyphicon glyphicon-menu-right">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9" ng-controller="RequirementSpecificationController">
    <div ui-view></div>
    {{projectStatusMessage}}
  </div>
</div>
