<div class="panel panel-default" ng-controller="ProjectInvitationsCtrl">
  <div class="panel-heading">
    <div class="panel-title text-center">Member invitations</div>
  </div>
  <div align="center" class="alert alert-warning" role="alert">
    <strong>WARNING!</strong> The invitations are only for unregistered PDMSys-users. if you want to add a registered user to your project, you can do that at your project home page.</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th></th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invitation in invitations.invitations" ng-include="getTemplate(invitation)"></tr>
      </tbody>
    </table>
    <form name="form" novalidate>
      <div class="form-group">
        <label>Firstname:</label>
        <input type="text" class="form-control" ng-model="invitation.firstname" required>
      </div>
      <div class="form-group">
        <label>Lastname:</label>
        <input type="text" class="form-control" ng-model="invitation.lastname" required>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" ng-model="invitation.email" required>
      </div>
      <div class="form-group">
        <label>Type:</label>
        <select ng-model="invitation.type">
          <option value="">Spectator</option>
          <option value="1">Member</option>
          <option value="2">Leader</option>
        </select>
      </div>
      <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="addInvitation(invitation)">Add User</button>
      <button type="submit" ng-click="changeOpenedViewTab()" class="btn btn-primary pull-right">Next</button>
      <button type="button" ng-click="oneViewTabBack()" class="btn btn-primary pull-right">Back</button>
    </form>
  </div>
</div>
