<td>
  <input type="text" ng-model="members.selected.firstname" />
</td>
<td>
  <input type="text" ng-model="members.selected.lastname" />
</td>
<td>
  <input type="text" ng-model="members.selected.email" />
</td>
<td align="center" colspan="3">
  <select ng-model="members.selected.type">
    <option value="">Spectator</option>
    <option value="1">Member</option>
    <option value="2">Leader</option>
  </select>
</td>
<td>
  <button class="btn btn-info" ng-click="saveMember($index)">Save</button>
  <button class="btn btn-danger" ng-click="reset()">Cancel</button>
</td>
