<div class="container" ng-controller="RegisterCtrl">

  <div id="registerbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title text-center">Register</div>
      </div>

      <div class="panel-body">

        <form name="form" class="form-horizontal" role="form" novalidate>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input ng-model="registration.firstname" ng-pattern="nameRegEx" type="text" ng-minlength="2" class="form-control" name="firstname" placeholder="Firstname" maxlength="20" required>
          </div>

          <div class="help-block" ng-messages="form.firstname.$error" ng-if="form.firstname.$touched">
            <p ng-message="minlength">Your firstname is too short.</p>
            <p ng-message="maxlength">Your firstname is too long.</p>
            <p ng-message="required">Your firstname is required.</p>
            <p ng-message="pattern">Your firstname is invalid.</p>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input ng-model="registration.lastname" ng-pattern="nameRegEx" ng-minlength="2" ng-maxlength="25" type="text" class="form-control" name="lastname" placeholder="Lastname" required>
          </div>

          <div class="help-block" ng-messages="form.lastname.$error" ng-if="form.lastname.$touched">
            <p ng-message="minlength">Your lastname is too short.</p>
            <p ng-message="maxlength">Your lastname is too long.</p>
            <p ng-message="required">Your lastname is required.</p>
            <p ng-message="pattern">Your lastname is invalid.</p>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input ng-model="registration.password" type="password" ng-pattern="passwordRegEx" ng-minlength="6" class="form-control" name="password" placeholder="Password" ng-maxlength="15" required>
          </div>

          <div class="help-block" ng-messages="form.password.$error" ng-if="form.password.$touched">
            <p ng-message="minlength">Your password is too short.</p>
            <p ng-message="maxlength">Your password is too long.</p>
            <p ng-message="pattern">Your password is too weak.</p>
            <p ng-message="required">Your password is required.</p>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
            <input ng-model="registration.passwordConfirm" match="registration.password" ng-maxlength="15" ng-minlength="6" type="password" class="form-control" name="passwordConfirm" placeholder="Password Confirm" maxlength="15" required>
          </div>

          <div class="help-block" ng-messages="form.passwordConfirm.$error" ng-if="form.passwordConfirm.$touched">
            <p ng-message="minlength">Your repeated password is too short.</p>
            <p ng-message="maxlength">Your repeated password is too long.</p>
            <p ng-message="required">Your repeated password is required.</p>
          </div>

          <div ng-show="form.passwordConfirm.$error.match && form.passwordConfirm.$touched">
            <div class="help-block">
              Password fields do not match!
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input ng-model="registration.email" type="email" class="form-control" name="email" placeholder="E-Mail" ng-minlength="8" ng-maxlength="50" required>
          </div>

          <div class="help-block" ng-messages="form.email.$error" ng-if="form.email.$touched">
            <p ng-message="minlength">Your email is too short.</p>
            <p ng-message="maxlength">Your email is too long.</p>
            <p ng-message="required">Your email is required.</p>
          </div>

          <div class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <button type="submit" id="registerBtn" ng-click="registerUser()" ng-Disabled="form.$invalid" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Register</button>
            </div>
          </div>
        </form>
        <div ng-class="registrationClass()">
          <strong>{{ registerStatus }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
