<div id="page-top" class="index" ng-cloak>
<div ng-controller="StartCtrl">

  <header>
    <div align="center" class="navilein" >
      <button id="loginViewBtn" ng-Disabled="!formButtonValue" ng-click="invertFormButtonValue()" type="button" class="butt">Login</button>
      <button id="registerViewBtn" ng-Disabled="formButtonValue" ng-click="invertFormButtonValue()" type="button" class="butt">Register</button>
    </div>
<div class="login">
    <div ng-show="!formButtonValue" ui-view="login"></div>
    <div ng-show="formButtonValue"ui-view="register"></div>
  </div>
  </div>

  </header>
