<div class="form-group text-center cont" ng-init="getStyleGuide()">

  <form name="form.form" ng-show="!isSpectator" novalidate>
    <div class="form-group">
      <div class="page-header">
        <h3>Create a new style Rule
          <br/>
          <small>Create a new code Style rule for your project</small>
        </h3>
      </div>
      <br>
      <h5>Name:</h5>
      <input type="text" ng-model="guide.name" name="name" ng-minlength="3" ng-maxlength="30" required></input>
      <br/>
      <div class="help-block" ng-messages="form.form.name.$error" ng-if="form.form.name.$touched">
        <p ng-message="minlength" class="error">Name is too short.</p>
        <p ng-message="maxlength" class="error">Name is too long.</p>
        <p ng-message="required" class="error">Name is required.</p>
      </div>
      <br>
      <h5>Content:</h5>
      <textarea rows="5" cols="20" type="text" ng-model="guide.content" name="content" ng-minlength="5" class="form-control" required></textarea>
      <div class="help-block" ng-messages="form.form.content.$error" ng-if="form.form.content.$touched">
        <p ng-message="minlength" class="error">Content is too short.</p>
        <p ng-message="required" class="error">Content is required.</p>
      </div>

    </div>
    <button class="btn btn-default" ng-show="!isSpectator" ng-Disabled="form.form.$invalid" ng-click="insertStyleGuide(guide)">Submit</button>
  </form>

  <div class="page-header">
    <h2>Current code style rule:</h2>
  </div>

  <div class="wrapit">
    <div class="splice" ng-repeat="guide in styleGuides">
      <h5>{{ guide.name }}</h5>

      <button class="splicebut" ng-click="openModalguide(guide, $index)">Details</button>
    </div>
  </div>

  <div class="modal fade modaldown" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"> {{ guideModal.name }}</h4>
        </div>
        <div class="modal-body">
          <label>content</label>
          <br/> {{ guideModal.content }}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-show="showDeleteButton && isAdmin" type="button" class="btn btn-primary" ng-click="deleteStyleGuide(guideModal.index, guideModal)" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
