<div class="panel panel-default" ng-controller="ConfirmInformationCtrl">
  <div class="panel-heading">
    <div class="panel-title text-center">Confirm your inputs</div>
  </div>
  <div class="form-group">
    Project name:
    <strong> {{ projectInformation.name }}</strong>
  </div>
  <div class="form-group">
    Project description:
    <strong>{{ projectInformation.description }}</strong>
  </div>
  <div class="form-group">
    Project acronym:
    <strong>{{ projectInformation.acronym || ' Not available.' }}</strong>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th></th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="invitation in projectInvitations">
          <td>{{ invitation.firstname }} </td>
          <td>{{ invitation.lastname }} </td>
          <td>{{ invitation.email }} </td>
          <td>
            <div ng-show="{{ invitation.type == 0 }}">Spectator</div>
          </td>
          <td>
            <div ng-show="{{ invitation.type == 1 }}">Member</div>
          </td>
          <td>
            <div ng-show="{{ invitation.type == 2 }}">Leader</div>
          </td>
      </tbody>
    </table>
    <div class="panel-body">
      <div ng-show="!projectCreated">
        <button type="button" ng-click="createProject()" class="btn btn-success pull-right">Create project</button>
        <button type="button" ng-click="oneViewTabBack()" class="btn btn-primary pull-right">Back</button>
      </div>
      <div ng-show="projectHomeButton">
        <button type="button" ng-click="projectHome()" class="btn btn-success pull-right">Go to project home</button>
      </div>
    </div>
    <div><strong> {{ createProjectStatus }} </strong></div>
  </div>
