<div class="form-group text-center cont" ng-init="getRisks()">

  <form name="form" novalidate> <div class="form-group">
    <div class="page-header">
    <h3>Create new risk <br>
       <small>Risk name:   <input type="text" ng-model="risk.name" required></input><br>
       Risk content:</small></h3>
      <textarea rows="5" cols="100" type="text" ng-model="risk.content" class="form-control" required></textarea>
    </div>
    </div>
    <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="insertRisk(risk)">Create risk</button>
  </form>
  <table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="risk in projectRisks">
      <td>{{ risk.name }} </td>
      <td>{{ risk.content }} </td>
      <td ng-show="showDeleteButton"><button class="btn btn-default" ng-click="deleteRisk($index, risk)">Delete</button></td>
  </tbody>
</table>
</div>
