<div class="form-group text-center cont" ng-init="getProjectDescription()">
  <div class="page-header">
    <h3>Project Description
      <br>
      <small>describe your Project in the most accurate way possible.</small>
    </h3>
  </div>
  <form name="form" novalidate>
    <div class="form-group">
      <textarea rows="25" cols="100" type="text" class="form-control" ng-model="projectDescription.description" required></textarea>
    </div>
    <div ng-show="!isSpectator">
      <button class="btn btn-default" ng-Disabled="form.$invalid" ng-click="insertProjectDescription(projectDescription)">Submit</button>
      <button class="btn btn-default" ng-show="showDeleteButton && isAdmin" ng-click="deleteProjectDescription()">Delete</button>
    </div>
  </form>
</div>
